---
- name: Install clink if not installed already.
  ansible.windows.win_powershell:
    script: |
      $app = "clink"
      if ($(winget list $app) -like "*No installed package found*") {
        winget install --accept-package-agreements --accept-source-agreements -h -s "winget" $app
      }
      else {
        winget upgrade $app
      }

- name: Configure oh-my-posh in clink
  vars:
    username: "{{ ansible_user }}"
  block:
    - name: Copy zoxide.lua to clink directory
      ansible.windows.win_powershell:
        script: |
          $clinkDir = "C:\Users\$((whoami).Split('\')[1])\clink"
          if (!(Test-Path $clinkDir)) {
            New-Item -ItemType Directory -Path $clinkDir -Force
          }
          Copy-Item -Path "{{ playbook_dir }}\files\zoxide.lua" -Destination "$clinkDir\zoxide.lua" -Force

    - name: Configure oh-my-posh with custom theme in clink
      ansible.windows.win_shell: |
        cd C:\Users\%USERNAME%\clink\
        echo load(io.popen('oh-my-posh init cmd --config C:\Users\%USERNAME%\zsh-ish.omp.json'):read("*a"))() > oh-my-posh.lua
      args:
        executable: cmd.exe

    