---
- name: Check Windows edition
  ansible.windows.win_command: systeminfo | findstr /B /C:"OS Name"
  register: windows_edition
  changed_when: false

- name: Run hyperv.bat script
  ansible.builtin.win_command:
    cmd: "{{ playbook_dir | dirname | dirname }}\\files\\hyperv.bat"
  when: "'Home' in windows_edition.stdout"

- name: Enable Windows optional features.
  ansible.windows.win_optional_feature:
    name: "{{ windows_feature.key }}"
    state: "{{ 'present' if windows_feature.value else 'absent' }}"
    include_parent: true
  loop: "{{ windows_features | dict2items }}"
  loop_control:
    loop_var: windows_feature
  register: feature_status

- name: Reboot if Windows optional feature requires it.
  ansible.windows.win_reboot:
  when: item.reboot_required
  loop: "{{ feature_status.results }}"
